<tr>
  <% buyer = User.joins(:invoices).where( invoices: {id: item.invoice_id}).first %>
  <td><%= item.product.name %></td>
  <td>
    <% if item.product.picture %>
      <%= image_tag(item.product.picture.image_url(:thumbnail, version: item.product.picture.image.file.version), width: 50, height: 50) %>
    <% end %>
  </td>
  <td><%= buyer.first_name %></td>
  <td><%= item.quantity %></td>
  <td><%= item.created_at %></td>
  <td><%= buyer.email %></td>
  <td><%= buyer.phone %></td>
</tr>