<% if current_user.is_seller? %>
  <h3> Products currently added to cart </h3>
    <table id="dashboard-list-top" class="table dashboard-list">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Buyer Name</th>
        <th>Quantity</th>
        <th>Added on</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      <% @cartitems.each do |item| %>
        <%= render partial: 'cart_item', locals: {item: item} %>
      <% end %>
    </table>

  <h3> Products sold </h3>
    <table id="dashboard-list-bottom" class="table dashboard-list">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Buyer Name</th>
        <th>Quantity</th>
        <th>Bought on</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
        <% @invoice_items.each do |item| %>
          <%= render partial: 'invoice_item', locals: {item: item} %>
        <% end %>
    </table>
<% end %>
