<div class="col-md-4" style="padding-bottom: 20px;">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :dob, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
  <%= f.fields_for :picture do |p| %>
    <%= p.label :upload_profile_picture %> <br />
    <%= p.hidden_field :image_cache %>
    <%= p.file_field :image %>
  <% end %>
  </div>

  <div>
    <%= f.submit "Update" , class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>