<div class="col-md-4" style="padding-bottom: 20px;">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autocomplete: "off",class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :phone_with_country_code %><br />
      <%= f.text_field :phone, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :address %><br />
      <%= f.text_area :address, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :date_of_birth %><br />
      <%= f.date_field :dob, autocomplete: "off", class: "form-control" %>
    </div>
    <br />
    <div >
      <%= f.fields_for :picture do |p| %>
        <%= p.label :upload_profile_picture %> <br />
        <%= p.hidden_field :image_cache %>
        <%= p.file_field :image %>
      <% end %>
    </div>

    <div>
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>