<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> has signed up on ShopCon.</h1>
    <p>
      Email :<%= @user.email %><br>
    </p>
    <p>
      Phone :<%= @user.phone %><br>
    </p>
  </body>
</html>