<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if invoices.blank? %>
      <p>You have no orders yet.</p>
    <% else %>
      <table class="table">
        <th>Order Date</th>
        <th>Shipping Address</th>
        <th>Total</th>
        <th>Delivery Date</th>
        <th>Status</th>
        <th>Payment Method</th>
        <th>Options</th>
        <% invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.created_at %></td>
            <td><%= invoice.shipping_address %></td>
            <td><%= invoice.total %></td> 
            <td><%= invoice.status == "Delivered" ? invoice.delivery_date : "Not yet Delivered" %></td>
            <td><%= invoice.status %></td>
            <td><%= invoice.payment_method %></td>
            <td><%= link_to 'View Details', invoice_path(invoice) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>