<%= render partial: 'invoices_list', locals: { invoices: @invoices } %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to 'Back to All Products', marketplace_index_path %></h3>
  </div>
</div>
