<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3> Invoice </h3>
    <table class="table">
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <% total = 0 %>
      <% @cart_items.each do |item| %>
        <tr>
          <% product = current_user.cart.products.where(id: item.product_id).first %>
          <td><%= product.name %></td>
          <td>
            <% if product.picture %>
              <%= image_tag(product.picture.image_url(version: product.picture.image.file.version), width: 50, height: 50) %>
            <% end %>
          </td>
          <td><%= product.price %></td>
          <td><%= item.quantity %></td> 
          <td><%= product.price * item.quantity %></td>
          <% total = calculate_total(total, item.product_id, item.quantity) %>
        </tr>
      <% end %>
    </table>
    <p> Total : <%= total %> </p>
    <%= form_for :invoice, url: invoices_path do |f| %>
      <div class="form-group">
        <%= f.label :shipping_address %><br>
        <%= f.text_field :shipping_address, class: "form-control" %>
      </div>
        <%= hidden_field_tag 'invoice[total]', total %>
      <p>
        <%= f.submit 'Order Products', class: "btn" %>
      </p> 
    <% end %>
  </div>
</div>
