<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p class="lead"> <b>Invoice Details</b> </p>
    <p class="lead"><b>Status:</b> <%= @invoice.status %></p>
    <p class="lead"><b>Shipping Address:</b> <%= @invoice.shipping_address %></p>
    <p class="lead"><b>Total:</b> <%= @invoice.total %></p>
    <p class="lead"><b>Payment Method:</b> <%= @invoice.payment_method %></p>

    <table class="table">
      <th>Product</th>
      <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
      <% @invoice.invoice_details.each do |item| %>
        <tr>
          <% product = @invoice.products.where(id: item.product_id).first %>
          <td><%= product.name %></td>
          <td><%= image_tag(product.picture.image_url(:thumbnail, version: product.picture.image.file.version), :width => 50, :height   => 50) %></td>
          <td><%= item.price %></td> 
          <td><%= item.quantity %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<% if @invoice.status = "Payment Pending" %>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%= form_tag charges_path do %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_MDhohq2CR0zbcIFwwW6qK1FD"
          data-amount= "<%= @invoice.total %>"
          data-name="Stripe.com"
          data-description="Widget"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-zip-code="true">
        </script>
        <%= hidden_field_tag 'total', @invoice.total %>
        <%= hidden_field_tag 'invoice_id', @invoice.id %>
      <% end %>
    </div>
  </div>
<% end %>
</br>
</br/>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'See All Orders', invoices_path %>
  </div>
</div>
