<h3>Sellers List</h3>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Total Revenue</th>
  </tr>
  <% @sellers.each do |seller| %>
    <tr>
      <td><%= seller.first_name %>  <%= seller.last_name %></td> 
      <td><%= seller.email %></td>
      <td><%= seller.phone %></td>
      <td><%= InvoiceDetail.get_seller_items(seller.id).inject(0){ |sum,item| sum = sum + item.subtotal } %></td>
    </tr>
  <% end %>
</table>