<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Allowed to sell</th>
  </tr>
  <% @users.each do |user| %>
    <% if !user.is_admin? %>
      <tr>
        <td><%= user.first_name %></td> 
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td>
          <%= check_box_tag 'Allow to Sell', '', user.is_seller? , data: {user_id: user.id} %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table> 