<div class="content">
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Total Orders Value</th>
    </tr>
    <% @buyers.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.last_name %></td> 
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td></td>
      </tr>
    <% end %>
  </table>
</div>