<div class="col-md-4" style="padding-bottom: 20px;">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true,class: "form-control" %>
    </div>

    <div class="form-group field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.check_box :remember_me, class: "checkbox" %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="form-group" >
      <%= f.submit "Log in" , class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

