<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @cart_items.blank? %>
      <p> Your cart is empty </p>
    <% else %>
      <table class="table">
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th colspan="2">Options</th>
        <% total = 0 %>
        <% @cart_items.each do |item| %>
          <tr>
            <% product = current_user.cart.products.where(id: item.product_id).first %>
            <td><%= product.name %></td>
            <td>
              <% if product.picture %>
              <%= image_tag(product.picture.image_url(version: product.picture.image.file.version), width: 50, height: 50) %>
              <% end %>
            </td>
            <td><%= product.price %></td>
            <td><%= item.quantity %></td> 
            <td><%= product.price * item.quantity %></td>
            <% total = calculate_total(total, item.product_id, item.quantity) %>
            <td><%= link_to 'Remove from cart', cart_item_path(item) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
      <p> Total : <%= total %> </p>
      <%= button_to 'Checkout', new_invoice_path, method: :get, class: "btn" %>
    <% end %>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Back to All Products', marketplace_index_path %>
    </div>
</div>
