<h3>Buyers List</h3>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Total Orders Cost</th>
    <th>Invoices List</th>
  </tr>
  <% @buyers.each do |buyer| %>
    <tr>
      <td><%= buyer.first_name %>  <%= buyer.last_name %></td> 
      <td><%= buyer.email %></td>
      <td><%= buyer.phone %></td>
      <td><%= buyer.invoices.sum(:total) %></td>
      <td><%= link_to 'View Invoices', invoices_buyer_path(buyer) %></td>
    </tr>
  <% end %>
</table>