<% if @invoices.blank? %>
  <p>No orders yet for this user.</p>
<% else %>
  <table class="table">
    <th>Order Date</th>
    <th>Shipping Address</th>
    <th>Total</th>
    <th>Delivery Date</th>
    <th>Status</th>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.created_at %></td>
        <td><%= invoice.shipping_address %></td>
        <td><%= invoice.total %></td> 
        <td><%= invoice.status == "Delivered" ? invoice.delivery_date : "Not yet Delivered" %></td>
        <td><%= invoice.status %></td>
      </tr>
    <% end %>
  </table>
<% end %>