
@import "bootstrap-sprockets";
@import "bootstrap";

#noti_Container {
  position:relative;
}
   
/* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
#noti_Button {
  width:22px;
  height:22px;
  line-height:22px;
  border-radius:50%;
  -moz-border-radius:50%; 
  -webkit-border-radius:50%;
  background:#FFF;
  margin:-3px 10px 0 10px;
  cursor:pointer;
}
    
/* THE POPULAR RED NOTIFICATIONS COUNTER. */
#noti_Counter {
  display:block;
  position:absolute;
  background:#E1141E;
  color:#FFF;
  font-size:12px;
  font-weight:normal;
  padding:1px 3px;
  margin:-8px 0 0 25px;
  border-radius:2px;
  -moz-border-radius:2px; 
  -webkit-border-radius:2px;
  z-index:1;
}
    
/* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
#notifications {
  display:none;
  width:430px;
  position:absolute;
  top:30px;
  left:0;
  background:#FFF;
  border:solid 1px rgba(100, 100, 100, .20);
  -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
  z-index: 0;
}
/* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
#notifications:before {         
  content: '';
  display:block;
  width:0;
  height:0;
  color:transparent;
  border:10px solid #CCC;
  border-color:transparent transparent #FFF;
  margin-top:-20px;
  margin-left:10px;
}
    
.h3-class {
  display:block;
  color:#333; 
  background:#FFF;
  font-weight:bold;
  font-size:13px;    
  padding:8px;
  margin:0;
  border-bottom:solid 1px rgba(100, 100, 100, .30);
}
    
.seeAll {
  background:#F6F7F8;
  padding:8px;
  font-size:12px;
  font-weight:bold;
  border-top:solid 1px rgba(100, 100, 100, .30);
  text-align:center;
}
.seeAll a {
  color:#3b5998;
}
.seeAll a:hover {
  background:#F6F7F8;
  color:#3b5998;
  text-decoration:underline;
}