<%= form_for @product do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :category %><br>
    <%= f.select :category, ['Electronics', 'Clothing', 'Home and Furniture', 'Books and Stationery', 'Accessories']%>
  </p>

  <p>
    <%= f.label :stock %><br>
    <%= f.number_field :stock, min: 1 %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
  <%= f.fields_for :picture do |p| %><br>
    <%= p.hidden_field :image_cache %>
    <%= p.file_field :image %>
  <% end %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
  
<% end %>