<h1>Products</h1>
<h3><%= link_to 'Add New Product', new_product_path %></h3>
<% if @products.first.nil?  %>
  <p> Sorry, you have not added any products yet. </p>
<% end %> 
<table class="table">
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Category</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Image</th>
    <th colspan=3 >Options</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.brand %></td>
    <td><%= product.category %></td>
    <td><%= product.price %></td>
    <td><%= product.stock %></td>
    <td>
      <% if product.picture %>
        <%= image_tag(product.picture.image_url(:thumbnail, version: product.picture.image.file.version), width: 50, height: 50) %>
      <% end %>
    </td>
    <td><%= button_to 'Remove', product_path(product), method: :delete %></td>
    <td><%= button_to 'Show', product_path(product), method: :get %></td>
    <td><%= button_to 'Edit', edit_product_path(product), method: :get %></td>
  </tr>
  <% end %>
</table>

