<div class="container">
  <div class="col-md-3">
  <%= image_tag(@product.picture.image_url(version: @product.picture.image.file.version), width: 200, height: 200) %>
  </div>
  <div class="col-md-4">
  <ul>
    <p> <%= @product.name %></p><br/>
    <p> <%= @product.brand %></p><br/>
    <p> <%= @product.category %></p><br/>
    <p> <%= @product.price %></p><br/>
    <p> <%= @product.description %></p><br/>
    <% if @product.stock > 0 %>
      <p> Available </p>
    <% else %>
      <p> Sold Out </p>
    <% end %>
  </ul>
  </div>
</div>
