<div class="products">
  <% if @products.blank? %>
    <p> No products found. </p>
  <% else %>
    <div class="container-fluid">
      <div class="row">
        <% @products.each do |product| %>  
          <div class="col-md-3" style="height: 310px;">
            <div class="image-container" style="height: 220px;">
              <%= link_to  marketplace_path(product) do %>
                <%= image_tag(product.picture.image_url(version: product.picture.image.file.version), width: 200, height: 200) %>
              <% end %>
            </div>
            <p><%= product.name %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Rs.<%= product.price %></p>
            <%= form_for :cart_item, url: cart_items_path, method: :post  do |f| %>
              <%= hidden_field_tag 'cart_item[product_id]', product.id %>
              <%= f.select :quantity, (1..10) %>
              <%= f.submit 'Buy' %>
              <%= f.submit 'Add to cart' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div style="padding-left: 40%;"><%= will_paginate @products %></div>
    </div>
  <% end %>
</div>
