<div class="row">
<div class="col-md-3" style="padding-left: 30px; padding-bottom">
  <%= form_tag marketplace_index_path, :method => 'get', class: "products_search form-inline" do %>
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
</div>
<%= render 'products' %>

