<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag(@product.picture.image_url(version: @product.picture.image.file.version), width: 200, height: 200) %>
    </div>
  <div class="col-md-3">
    <p> <%= @product.name %></p><br/>
    <p> <%= @product.brand %></p><br/>
    <p> <%= @product.category %></p><br/>
    <p> <%= @product.price %></p><br/>
    <p> <%= @product.description %></p><br/>
    <% if @product.stock > 0 %>
      <p> Available </p>
    <% else %>
      <p> Sold Out </p>
    <% end %>
    <%= form_for :cart_item, url: cart_items_path, method: :post  do |f| %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <%= f.select :quantity, (0..10) %>
      <h5><%= f.submit 'Add to cart' %></h5>
      <h5><%= f.submit 'Buy' %></h5>
    <% end %>
  </div>
  </div>
</div>
