<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="/dashboard">Dashboard</a></li>
  <% if current_user.is_seller? %>
    <li><%= link_to 'My Products', products_path, class: "active" %></li>
  <% else %>
    <li><%= link_to 'View Users', permissions_path , class: "active" %></li>
    <li><%= link_to 'View Buyers', buyers_path , class: "active" %></li>
    <li><%= link_to 'View Sellers', sellers_path , class: "active" %></li>
  <% end %>
</ul>