<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'ShopCon', marketplace_index_path, class:"navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% if current_user.is_seller? %>
          <li id="noti_Container">
          <div id="noti_Counter"></div>
          <div id="noti_Button"></div>    
          <div id="notifications">
          <h3 class="h3-class">Notifications</h3>
          </div>
          </li>
        <% end %>
        <li><a>Signed in as <%= current_user.email %></a></li>
        <% if current_user.is_admin? == false %>
          <li><%= link_to 'View Orders', invoices_path %></li>
          <li><%= link_to "View Cart  (#{current_user.cart.cart_items.count})", cart_items_path %></li>
        <% end %>
        <% if current_user.picture && current_user.picture.image_url %> 
          <li>
            <%= image_tag(current_user.picture.image_url(:thumbnail, version: current_user.picture.image.file.version), width: 50, height: 50, class:"profile-image img-circle") %>
          </li>
        <% elsif current_user.profile_pic %>
          <li><%= image_tag current_user.profile_pic , width: 50, height: 50, class:"profile-image img-circle" %></li>
        <% end %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        <li> <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
        <li><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></li>
      <% end %>
    </ul>
  </div>
</nav>