<!DOCTYPE html>
<html>
  <head>
    <title>Shopping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <%= render 'layouts/topnav' %>
    <div class="notice">
      <% if flash[:notice] %>
        <p style="color: green;" ><%= flash[:notice] %></p>
      <% end %>
    </div>  
    <% if current_user && (current_user.is_admin? || current_user.is_seller?) %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <%= render 'layouts/sidenav' %>
        </div>
          <div class="col-md-10"><%= yield %></div>
      </div>
    <% else %>
      <div class="container-fluid">
      <div class="row">
        <%= yield %>
      </div>
      </div>
    <% end %>
  </body>
</html>
